<div class="cs-form-search">
  <p class="label">
    {{searchLabel}}
  </p>
  <div class="form">
    <div class="autocomplete" >
      <ng-container *ngIf="type === 'parrainages-presidentielle-2022/candidats' || type === 'parrainages-presidentielle-2022/departements'">
        <div id="autocomplete-input">
          <p-autoComplete [inputId]="'autocomplete-input'"
          [emptyMessage]="'Aucun résultat, veuillez réessayer'" [showEmptyMessage]="true" [placeholder]="placeholder" [multiple]="false"
          [(ngModel)]="city" [suggestions]="results" (completeMethod)="search($event)" (onKeyUp)="getKey($event)" [dropdown]="true"
          (onSelect)="selectPlace($event)" field="name">
          <ng-template let-postalCode pTemplate="item">
            <a [href]="type + '/' + postalCode.slug">
              {{postalCode.name}}</a>
          </ng-template>
        </p-autoComplete>
        </div>

      </ng-container>
      <ng-container *ngIf="type === 'resultats-presidentielle-2022'">
        <div id="autocomplete-search">
          <p-autoComplete [inputId]="'autocomplete-search'"
          [emptyMessage]="'Aucun résultat, veuillez réessayer'" [showEmptyMessage]="true" [placeholder]="placeholder" [multiple]="false" [delay]="500"
          [(ngModel)]="city" [suggestions]="results" (completeMethod)="search($event)" (onKeyUp)="getKey($event)" [dropdown]="true" [dropdownIcon]="'pi pi-search'"
          (onSelect)="selectPlace($event)" field="name">
          <ng-template let-postalCode pTemplate="item">
            <ng-container *ngIf="postalCode.place.departement">
              <a [href]="type + '/' + postalCode.place.departement.region.slug + '/' + postalCode.place.departement.slug + '/' + postalCode.place.slug">
                {{postalCode.place.name}}
              <ng-container *ngIf="postalCode.place.postalCode">
                ({{postalCode.place.postalCode}})
              </ng-container>
              </a>
            </ng-container>
            <ng-container *ngIf="postalCode.place.region && !postalCode.place.departement">
              <a [href]="type + '/' + postalCode.place.region.slug + '/' + postalCode.place.slug">
                {{postalCode.place.name}}
              <ng-container *ngIf="postalCode.place.postalCode">
                ({{postalCode.place.postalCode}})
              </ng-container>
              ({{postalCode.place.code | slice: 3}})
              </a>
            </ng-container>
            <ng-container *ngIf="!postalCode.place.region && !postalCode.place.departement">
              <a [href]="type + '/' + postalCode.place.slug">
                {{postalCode.place.name}}
              <ng-container *ngIf="postalCode.place.postalCode">
                ({{postalCode.place.postalCode}})
              </ng-container>
              </a>
            </ng-container>

          </ng-template>
        </p-autoComplete>
          </div>

      </ng-container>

    </div>

    <div class="buttons" *ngIf="type !== 'resultats-presidentielle-2022'">
      <button pButton type="button" class="search-button p-button-primary" label="{{buttonLabel}}"
        (click)="search(null)" [disabled]="!city"></button>
      <button pButton type="button" class="cs-icon-button p-button-primary geoloc-button" label="Géolocaliser"
        *ngIf="geolocalisation" (click)="findLocalisation($event)">
        <span class="material-icons">
          my_location
        </span>
      </button>
    </div>

  </div>
</div>
