.search-button {
  width: 100%;
}

a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #495057;
}

.buttons {
  display: flex;
  gap: 10px;
}

.form-search {
  .label {
    text-align: center;
  }
}
@media screen and (min-width: 64em) {
  .form {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .autocomplete {
    width: 50%;
  }

}


