<app-breadcrumb></app-breadcrumb>
<div class="container">
  <ng-container *ngIf=" {
    result: (result$ | loading | async)
    } as obs">
    <ng-container *ngIf="obs.result as resultObs">
      <ng-container *ngIf="resultObs.value as result">
        <div class="cs-title">
          <h1>
            Résultats {{result[0].name}} pour l'élection
            présidentielle 2022 en France : 1er et 2ème tour
          </h1>
        </div>
        <div class="content">
          <p>
            Consultez dès maintenant les résultats
            de l'élection présidentielle 2022 du
            candidat {{result[0].name}} pour le
            <ng-container *ngIf="round1 && round2">
              1er et 2nd
            </ng-container>
            <ng-container *ngIf="round1 && !round2">
              1er
            </ng-container>
            tour
            en France et
            découvrez les résultats des votes et
            suffrages de ses électeurs par région et par département.
          </p>
        </div>
        <div class="content">
          <app-presidential-search></app-presidential-search>
        </div>
        <div class="content" *ngIf="round2">
          <ng-container *ngIf="type === 'candidate' && resultRegion && resultDepartement && tableRound2">
            <app-presidential-round [result]="round2"
             [resultBefore]="round1"  [resultRegion]="resultRegion | find : '2'"
             [resultDepartement]="resultDepartement | find : '2'" [type]="type"  [table]="tableRound2"
            [round]="'2'" (selectTabEvent)="selectTab($event)" [selectedTab]="selectedTab" [hasTwoRounds]="hasTwoRounds">
          </app-presidential-round>
          </ng-container>
        </div>
        <div class="content" *ngIf="round1">
          <ng-container *ngIf="type === 'candidate' && resultRegion && resultDepartement && tableRound1">
            <app-presidential-round
            [result]="round1"
            [type]="type" [round]="'1'"
            [resultRegion]="resultRegion | find : '1'"
            [resultDepartement]="resultDepartement | find : '1'" (selectTabEvent)="selectTab($event)" [selectedTab]="selectedTab" [table]="tableRound1" [hasTwoRounds]="hasTwoRounds">
            </app-presidential-round>
          </ng-container>

        </div>

      </ng-container>
      <div class="content loader" *ngIf="resultObs.loading">
        <p-progressSpinner [style]="{width: '70px', height: '70px'}" styleClass="custom-spinner" strokeWidth="5"
          animationDuration=".5s"></p-progressSpinner>
      </div>
      <ng-container *ngIf="(!resultObs.value) && !resultObs.loading">
        <div class="content">
          <p-message severity="error" text="Aucune résultat trouvé"></p-message>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <div class="content result" *ngIf="listCandidates">
    <!-- Affiche toutes les candidats -->
    <app-presidential-list-link [title]="'Résultats de l\'élection présidentielle 2022 par candidat'" [list]="listCandidates"
      [type]="'candidat'">
    </app-presidential-list-link>
  </div>
  <div class="content result" *ngIf="listRegions">
    <!-- Affiche toutes les regions -->
    <app-presidential-list-link [title]="'Résultats de l\'élection présidentielle 2022 par région'" [list]="listRegions"
      [type]="'region'">
    </app-presidential-list-link>
  </div>
  <div class="content result">
    <ng-container *ngIf=" {
      cities: (listCity$ | loading | async)
      } as obs">
      <ng-container *ngIf="obs.cities as citiesObs">
        <ng-container *ngIf="citiesObs.value as cities">
          <app-presidential-list-link
            [title]="'Résultats de l’élection présidentielle 2022 par ville et par commune'"
            [list]="cities">
          </app-presidential-list-link>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
