.progressResult {
  display: flex;
  justify-content: space-between;
  .left {
    .name {
      font-size: 1.1em;
    }
  }
  .right {
    text-align: right;
    .percent {
      font-weight: bold;
    }
  }
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.progress {
  margin-top: 0.5em;
  margin-bottom: 3em;
}

a {
  color: #000000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
