<app-breadcrumb></app-breadcrumb>
<div class="container">
  <h1 class="c5 c14"><span class="c1">Mentions l&eacute;gales</span></h1>
  <p class="c5"><span class="c6">En vigueur au 31/01/2022</span></p>
  <p class="c5 c4"><span class="c6"></span></p>
  <p class="c5"><span class="c6">&nbsp;</span></p>
  <p class="c3"><span class="c6">Conform&eacute;ment aux dispositions des Articles 6-III et 19 de la Loi n&deg;2004-575
      du
      21 juin 2004 pour la Confiance dans l&rsquo;&eacute;conomie num&eacute;rique, dite L.C.E.N., il est port&eacute;
      &agrave; la connaissance des utilisateurs et visiteurs, ci-apr&egrave;s &laquo; </span><span
      class="c11">l'Utilisateur</span><span class="c6"> &raquo;, du site {{URL}} , ci-apr&egrave;s le
      &laquo; </span><span class="c11">Site</span><span class="c6"> &raquo;, les pr&eacute;sentes mentions
      l&eacute;gales.</span></p>
  <p class="c3 c4"><span class="c6"></span></p>
  <p class="c3"><span class="c6">La connexion et la navigation sur le Site par l&rsquo;Utilisateur implique acceptation
      int&eacute;grale et sans r&eacute;serve des pr&eacute;sentes mentions l&eacute;gales.</span></p>
  <p class="c3 c4"><span class="c6"></span></p>
  <p class="c3"><span class="c6">Ces derni&egrave;res sont accessibles sur le Site &agrave; la rubrique &laquo; Mentions
      l&eacute;gales &raquo;.</span></p>
  <p class="c3 c4"><span class="c6"></span></p>
  <h2 class="c2"><span class="c0">ARTICLE 1 - L&#39;EDITEUR</span></h2>
  <p class="c3"><span class="c6">L&#39;&eacute;dition du Site est assur&eacute;e par Soury SASU au capital de 2000
      euros,
      immatricul&eacute;e au Registre du Commerce et des Soci&eacute;t&eacute;s de Paris 12&egrave;me sous le
      num&eacute;ro 909278517 dont le si&egrave;ge social est situ&eacute; au 14 bis rue de la vo&ucirc;te, </span></p>
  <p class="c3"><span class="c6">N&deg; de TVA intracommunautaire : FR11909278517</span></p>
  <h1 class="c2 c8"><span class="c1"></span></h1>
  <h2 class="c2"><span class="c0">ARTICLE 2 - L&#39;HEBERGEUR</span></h2>
  <p class="c3">L&#39;h&eacute;bergeur du Site est la soci&eacute;t&eacute; Scaleway SAS, dont le
      si&egrave;ge social est situ&eacute; au 8 rue de la Ville l&rsquo;Ev&ecirc;que, 75008 Paris , avec le numéro de téléphone : <strong>+33184130000</strong></p>
  <h1 class="c2 c8"><span class="c1"></span></h1>
  <h2 class="c2"><span class="c0">ARTICLE 3 - ACCES AU SITE</span></h2>
  <p class="c3"><span class="c6">Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure,
      interruption programm&eacute;e ou non et pouvant d&eacute;coulant d&rsquo;une n&eacute;cessit&eacute; de
      maintenance.</span></p>
  <p class="c3 c4"><span class="c6"></span></p>
  <p class="c3"><span class="c6">En cas de modification, interruption ou suspension du Site, l&#39;Editeur ne saurait
      &ecirc;tre tenu responsable.</span></p>
      <h1 class="c2 c8"><span class="c1"></span></h1>
  <h2 class="c2"><span class="c0">ARTICLE 4 - COLLECTE DES DONNEES</span></h2>
  <p class="c3"><span class="c6">Le Site assure &agrave; l&#39;Utilisateur une collecte et un traitement
      d&#39;informations personnelles dans le respect de la vie priv&eacute;e conform&eacute;ment &agrave; la loi
      n&deg;78-17 du 6 janvier 1978 relative &agrave; l&#39;informatique, aux fichiers et aux libert&eacute;s. </span>
  </p>
  <p class="c3 c4"><span class="c6"></span></p>
  <p class="c3"><span class="c6">En vertu de la loi Informatique et Libert&eacute;s, en date du 6 janvier 1978,
      l&#39;Utilisateur dispose d&#39;un droit d&#39;acc&egrave;s, de rectification, de suppression et d&#39;opposition
      de
      ses donn&eacute;es personnelles. L&#39;Utilisateur exerce ce droit :</span></p>
  <p class="c3"><span class="c6">&middot; &nbsp; &nbsp; &nbsp; &nbsp; via son module de gestion des cookies de son
      navigateur</span></p>
  <p class="c3"><span class="c6">&nbsp;</span></p>
  <p class="c3"><span class="c6">Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou
      partie du Site&#65279;, sans autorisation de l&rsquo;Editeur est prohib&eacute;e et pourra entra&icirc;n&eacute;e
      des actions et poursuites judiciaires telles que notamment pr&eacute;vues par le Code de la
      propri&eacute;t&eacute;
      intellectuelle et le Code civil.</span></p>
  <p class="c3 c4"><span class="c6"></span></p>
  <p class="c3"><span class="c6">Pour plus d&rsquo;informations, se reporter aux CGU du site {{URL}}
      accessible &agrave; la rubrique &quot;CGU&quot; </span></p>
  <div>
    <p class="c4 c13"><span class="c7"></span></p>
    <p class="c4 c9"><span class="c7"></span></p>
  </div>

</div>
