.list {
  line-height: 1.8;
  margin-top: 1.5em;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: underline;
  }
}

.bold {
  font-weight: bold;
}
