@import '../../../../styles/variables.scss';

.card-table {
  padding: 0;
}

.banner {
  border-radius: $border-radius-card;
  background-color: #4949A5;
  color: #FFFFFF;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .material-icons {
    font-size: 36px;
  }
  &.green {
    background: #42E695;
  }
  &.red {
    background: red;
  }
}

.sponsorship {
  text-align: center;
}

.bloc {
  color: #FFFFFF;
  border-radius: $border-radius-card;
  position: relative;
  &.green {
    background: #42E695;
  }
  &.red {
    background: red;
  }
  text-align: center;

  .number {
    font-size: 2.5em;
    line-height: 0.8;
  }
  .message {
    font-size: 1.2em;
  }
}

.text {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  background-color: #FFFFFF;
}

.icon {
  position: absolute;
  top:0;
  right:0;
  padding: 0.25em;
  font-size: 40px;
}
