<div class="cs-title">
  <h2 *ngIf="type === 'region'">
    Résultats du <ng-container *ngIf="round === '1'">
      premier
    </ng-container>
    <ng-container *ngIf="round === '2'">
      second
    </ng-container> tour de l'élection présidentielle 2022 en {{result.name}} :
    <ng-container *ngIf="round === '1'">
      1er tour
    </ng-container>
    <ng-container *ngIf="round === '2'">
      2nd tour
    </ng-container>

  </h2>
  <h2 *ngIf="type === 'departement'">
    Résultats du <ng-container *ngIf="round === '1'">
      premier
    </ng-container>
    <ng-container *ngIf="round === '2'">
      second
    </ng-container> tour de l'élection présidentielle 2022 en {{result.name}}
    ({{result.place.code | slice:
    3}}) :
    <ng-container *ngIf="round === '1'">
      1er tour
    </ng-container>
    <ng-container *ngIf="round === '2'">
      2nd tour
    </ng-container>

  </h2>
  <h2 *ngIf="type === 'city'">
    Résultats du <ng-container *ngIf="round === '1'">
      premier
    </ng-container>
    <ng-container *ngIf="round === '2'">
      second
    </ng-container> tour de l'élection présidentielle 2022 à {{result.name}}

    <ng-container *ngIf="result.place.postalCode">
      ({{result.place.postalCode}})
    </ng-container>
    :
    <ng-container *ngIf="round === '1'">
      1er tour
    </ng-container>
    <ng-container *ngIf="round === '2'">
      2nd tour
    </ng-container>

  </h2>
  <h2 *ngIf="type === 'France'">
    Résultats du <ng-container *ngIf="round === '1'">
      premier
    </ng-container>
    <ng-container *ngIf="round === '2'">
      second
    </ng-container> tour de l'élection présidentielle 2022 en France :
    <ng-container *ngIf="round === '1'">
      1er tour
    </ng-container>
    <ng-container *ngIf="round === '2'">
      2nd tour
    </ng-container>

  </h2>
  <h2 *ngIf="type === 'candidate'">
    Résultats pour {{result.name}} au <ng-container *ngIf="round === '1'">
      premier
    </ng-container>
    <ng-container *ngIf="round === '2'">
      second
    </ng-container> tour de l'élection présidentielle 2022 en France :
    <ng-container *ngIf="round === '1'">
      1er tour
    </ng-container>
    <ng-container *ngIf="round === '2'">
      2nd tour
    </ng-container>

  </h2>
</div>
<div class="content result">
  <app-presidential-result [result]="result"></app-presidential-result>
  <ng-container *ngIf="result.candidates.length === 0">
    Le candidat <strong>{{result.name}}</strong> n'est pas passé au <strong>deuxième tour</strong> de l'élection
    présidentielle.
  </ng-container>
  <ng-container *ngIf="result.candidates.length > 0">
    <ng-container *ngIf="(type === 'France' || type === 'candidate')">
      <ng-container *ngIf="(round === '2') || (round === '1' && type === 'candidate')">
        <app-presidential-table-map [type]="type" [round]="round" [selectedTab]="selectedTab" [table]="table"
          *ngIf="table" (selectTabEvent)="selectTab($event)">
        </app-presidential-table-map>
      </ng-container>

    </ng-container>

    <ng-container *ngIf="isBrowser">
      <div class="content button">
        <div class="label">
          Partager le résultat des votes

          {{result.name | pronoun : type}}
        </div>
        <share-buttons [theme]="'modern-dark'" [include]="['facebook','twitter','messenger','whatsapp','email']"
          [show]="8" [autoSetMeta]="false"></share-buttons>
      </div>
    </ng-container>
    <ng-container *ngIf="type !== 'candidate'">
      <app-presidential-table [result]="result"></app-presidential-table>
    </ng-container>
    <ng-container *ngIf="round === '2'">
      <ng-container *ngIf="type === 'candidate'">
        <ng-container *ngIf="result.ranking === 1">
          Lors du <strong>second tour</strong> de cette <strong>élection présidentielle</strong>,
          <strong>{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</strong> arrive en tête des voix
          en France et devient
          le nouveau <strong>Président de la République</strong>. <strong>{{result.candidates[0].firstName}}
            {{result.candidates[0].lastName}}</strong> ({{result.candidates[0].party}})
          a récolté le plus grand nombre de voix avec {{result.candidates[0].pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages
          ({{result.candidates[0].nbrVotes | number: "":"fr-FR"}} votes).<br>
        </ng-container>

        <ng-container *ngIf="result.ranking === 2">
          Lors du <strong>second tour</strong> de cette <strong>élection présidentielle</strong>,
          <strong>{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</strong> arrive en deuxième
          position. <strong>{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</strong>
          ({{result.candidates[0].party}})
          a récolté {{result.candidates[0].pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages ({{result.candidates[0].nbrVotes |
          number: "":"fr-FR"}} votes).<br>
        </ng-container>

        <ng-container *ngIf="resultDepartement">
          Au niveau départemental, le <strong>plus haut score </strong><span [innerHtml]="result.name | pronoun : 'de': 'strong'"></span> est en
          {{resultDepartement.places[0].name}} ({{resultDepartement.places[0].code | slice: 3}}) avec
          {{resultDepartement.places[0].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}%, et son <strong>plus bas score</strong> se
          situe en {{resultDepartement.places[resultDepartement.places.length - 1].name}},
          avec {{resultDepartement.places[resultDepartement.places.length - 1].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}% des
          suffrages.<br>
        </ng-container>
        <ng-container *ngIf="resultRegion">
          Au niveau régional, le <strong>plus haut score </strong> <span [innerHtml]="result.name | pronoun : 'de': 'strong'"></span> est en
          {{resultRegion.places[0].name}} avec
          {{resultRegion.places[0].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}%, et son <strong>plus bas score</strong> se situe en
          {{resultRegion.places[resultRegion.places.length - 1].name}}, avec
          {{resultRegion.places[resultRegion.places.length - 1].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages.
        </ng-container>

      </ng-container>
      <ng-container *ngIf="type !== 'France' && type !=='candidate'">
        <p>
          Lors du <strong>second tour</strong> de cette <strong>élection
            présidentielle </strong>
            <span [innerHtml]="result.name | pronoun : type: 'strong'"></span>
            <ng-container *ngIf="type === 'departement'">
              <strong> ({{result.place.code | slice: 3}})</strong>
            </ng-container>
            <ng-container *ngIf="type === 'city'">
              <strong> ({{result.place.postalCode}})</strong>
            </ng-container>
            , <a href="resultats-presidentielle-2022/candidats/{{result.candidates[0].slug}}" title="résultats présidentielle 2022 {{result.candidates[0].firstName}} {{result.candidates[0].lastName}} par département et par région">{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</a> arrive en tête des voix.
            <a href="resultats-presidentielle-2022/candidats/{{result.candidates[0].slug}}" title="résultats présidentielle 2022 {{result.candidates[0].firstName}} {{result.candidates[0].lastName}} par département et par région">{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</a> ({{result.candidates[0].party}}) a
          récolté le plus grand nombre de voix avec {{result.candidates[0].pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages
          ({{result.candidates[0].nbrVotes | number: "":"fr-FR"}} votes) face à <a href="resultats-presidentielle-2022/candidats/{{result.candidates[1].slug}}" title="résultats présidentielle 2022 {{result.candidates[1].firstName}} {{result.candidates[1].lastName}} par département et par région">{{result.candidates[1].firstName}} {{result.candidates[1].lastName}}</a> ({{result.candidates[1].party}})
          qui
          a réuni {{result.candidates[1].pctVotesOnExprimated | number: "":"fr-FR"}}% des voix ({{result.candidates[1].nbrVotes | number:
          "":"fr-FR"}} votes).
        </p>
        <p [class.hidden]="isHidden">
          Le <strong>taux d'abstention </strong> <span [innerHtml]="result.name | pronoun : type: 'strong'"></span>
          <ng-container *ngIf="type === 'departement'">
            <strong> ({{result.place.code | slice: 3}})</strong>
          </ng-container>
          <ng-container *ngIf="type === 'city'">
            <strong> ({{result.place.postalCode}})</strong>
          </ng-container> pour ce 2nd tour de l’élection présidentielle s'élève à {{result.pctAbsentOnSubscriptions | number: "":"fr-FR"}}%.<br>

          Le <strong>taux de participation </strong><span [innerHtml]="result.name | pronoun : type: 'strong'"></span>
          <ng-container *ngIf="type === 'departement'">
            <strong> ({{result.place.code | slice: 3}})</strong>
          </ng-container>
          <ng-container *ngIf="type === 'city'">
            <strong> ({{result.place.postalCode}})</strong>
          </ng-container> au 2ème tour des élections est de {{result.pctVotesOnSubscriptions | number: "":"fr-FR"}}%,
          <ng-container *ngIf="result.pctVotesOnSubscriptions > resultBefore.pctVotesOnSubscriptions">
            supérieur
          </ng-container>
          <ng-container *ngIf="result.pctVotesOnSubscriptions < resultBefore.pctVotesOnSubscriptions">
            inférieur
          </ng-container>

          à
          celui du 1er tour ({{resultBefore.pctVotesOnSubscriptions | number: "":"fr-FR"}}%).<br>

          Parmi les électeurs <span [innerHtml]="result.name | pronoun : 'de': 'strong'"></span>, {{result.pctWhiteVotesOnSubscriptions | number: "":"fr-FR"}}% ont
          <strong>voté blanc</strong> ({{result.nbrWhiteVotes | number: "":"fr-FR"}} personnes).
        </p>
      </ng-container>
      <ng-container *ngIf="type === 'France'">
        <p>
          Lors du <strong>second tour</strong> de cette
          <strong>élection présidentielle</strong>, {{result.candidates[0].firstName}} {{result.candidates[0].lastName}}
          arrive en tête des voix en France et
          devient le <strong>nouveau Président de la République</strong>.
          <a href="resultats-presidentielle-2022/candidats/{{result.candidates[0].slug}}" title="résultats présidentielle 2022 {{result.candidates[0].firstName}} {{result.candidates[0].lastName}} par département et par région">{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</a> ({{result.candidates[0].party}})
          a récolté le plus grand nombre de voix avec {{result.candidates[0].pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages
          ({{result.candidates[0].nbrVotes | number: "":"fr-FR"}} votes)
          face à <a href="resultats-presidentielle-2022/candidats/{{result.candidates[1].slug}}" title="résultats présidentielle 2022 {{result.candidates[1].firstName}} {{result.candidates[1].lastName}} par département et par région">{{result.candidates[1].firstName}} {{result.candidates[1].lastName}}</a> ({{result.candidates[1].party}})
          qui a réuni {{result.candidates[1].pctVotesOnExprimated | number: "":"fr-FR"}}% des voix ({{result.candidates[1].nbrVotes |
          number: "":"fr-FR"}}
          votes).
        </p>
        <p [class.hidden]="isHidden">
          Le <strong>taux d'abstention</strong> en France pour ce 2nd tour de l'élection présidentielle s'élève à
          {{result.pctAbsentOnSubscriptions | number: "":"fr-FR"}}%.<br>

          Le <strong>taux de participation</strong> en France au 2ème tour des élections est de
          {{result.pctVotesOnSubscriptions | number: "":"fr-FR"}}%, <ng-container
            *ngIf="result.pctVotesOnSubscriptions > resultBefore.pctVotesOnSubscriptions">
            supérieur
          </ng-container>
          <ng-container *ngIf="result.pctVotesOnSubscriptions < resultBefore.pctVotesOnSubscriptions">
            inférieur
          </ng-container>

          à
          celui du 1er tour ({{resultBefore.pctVotesOnSubscriptions | number: "":"fr-FR"}}%).<br>
          Parmi les électeurs en France, {{result.pctWhiteVotesOnSubscriptions| number: "":"fr-FR"}}% ont <strong>voté blanc</strong>
          ({{result.nbrWhiteVotes | number: "":"fr-FR"}} personnes).
        </p>

      </ng-container>

    </ng-container>
    <ng-container *ngIf="round === '1'">
      <ng-container *ngIf="type !== 'candidate'">
        <p>
          <strong>Le 1er tour de l'élection présidentielle </strong><span [innerHtml]="result.name | pronoun : type: 'strong'"></span>
            <ng-container *ngIf="type === 'departement'">
              <strong> ({{result.place.code | slice: 3}})</strong>
            </ng-container>
            <ng-container *ngIf="type === 'city'">
              <strong> ({{result.place.postalCode}})</strong>
            </ng-container>
           a été remporté par
          <a href="resultats-presidentielle-2022/candidats/{{result.candidates[0].slug}}" title="résultats présidentielle 2022 {{result.candidates[0].firstName}} {{result.candidates[0].lastName}} par département et par région">{{result.candidates[0].firstName}} {{result.candidates[0].lastName}}</a> ({{result.candidates[0].party}}), en tête
          des résultats avec
          {{result.candidates[0].pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages ({{result.candidates[0].nbrVotes | number:
          "":"fr-FR"}} voix),
          suivi(e) en 2ème position
          <ng-container *ngIf="result.candidates[0].gender === 'M'">
            du candidat
          </ng-container>
          <ng-container *ngIf="result.candidates[0].gender === 'F'">
            de la candidate
          </ng-container> <a href="resultats-presidentielle-2022/candidats/{{result.candidates[1].slug}}" title="résultats présidentielle 2122 {{result.candidates[1].firstName}} {{result.candidates[1].lastName}} par département et par région">{{result.candidates[1].firstName}} {{result.candidates[1].lastName}}</a>
          ({{result.candidates[1].party}}),
          avec {{result.candidates[1].pctVotesOnExprimated | number: "":"fr-FR"}}% des votes ({{result.candidates[1].nbrVotes | number:
          "":"fr-FR"}} voix).
        </p>
        <p [class.hidden]="isHidden">
          En 3ème position arrive <a href="resultats-presidentielle-2022/candidats/{{result.candidates[2].slug}}" title="résultats présidentielle 2222 {{result.candidates[2].firstName}} {{result.candidates[2].lastName}} par département et par région">{{result.candidates[2].firstName}} {{result.candidates[2].lastName}}</a>
          ({{result.candidates[2].party}}),
          avec {{result.candidates[2].pctVotesOnExprimated | number: "":"fr-FR"}}% des voix ({{result.candidates[2].nbrVotes | number:
          "":"fr-FR"}} votes), puis
          <a href="resultats-presidentielle-3033/candidats/{{result.candidates[3].slug}}" title="résultats présidentielle 3333 {{result.candidates[3].firstName}} {{result.candidates[3].lastName}} par département et par région">{{result.candidates[3].firstName}} {{result.candidates[3].lastName}}</a> ({{result.candidates[3].party}})
          qui comptabilise {{result.candidates[3].pctVotesOnExprimated | number: "":"fr-FR"}}% des voix soit
          {{result.candidates[3].nbrVotes | number: "":"fr-FR"}} votes.<br>

          Les <strong>électeurs </strong> <span [innerHtml]="result.name | pronoun : 'de': 'strong'"></span> ont
          ensuite voté pour
          <ng-container *ngFor="let candidate of result.candidates | slice: 4; let i = index">
            <ng-container *ngIf="i !== (result.candidates | slice: 4).length - 1">
              <a href="resultats-presidentielle-2022/candidats/{{candidate.slug}}" title="résultats présidentielle 2022 {{candidate.firstName}} {{candidate.lastName}} par département et par région">{{candidate.firstName}} {{candidate.lastName}}</a> ({{candidate.party}} -
              {{candidate.pctVotesOnExprimated | number: "":"fr-FR"}}%
              - {{candidate.nbrVotes | number: "":"fr-FR"}} votes),
            </ng-container>
            <ng-container *ngIf="i === (result.candidates | slice: 4).length - 2">
              <a href="resultats-presidentielle-2022/candidats/{{candidate.slug}}" title="résultats présidentielle 2022 {{candidate.firstName}} {{candidate.lastName}} par département et par région">{{candidate.firstName}} {{candidate.lastName}}</a> ({{candidate.party}} -
              {{candidate.pctVotesOnExprimated | number: "":"fr-FR"}}%
              - {{candidate.nbrVotes | number: "":"fr-FR"}} votes)
            </ng-container>
            <ng-container *ngIf="i === (result.candidates | slice: 4).length - 1">
              et enfin <a href="resultats-presidentielle-2022/candidats/{{candidate.slug}}" title="résultats présidentielle 2022 {{candidate.firstName}} {{candidate.lastName}} par département et par région">{{candidate.firstName}} {{candidate.lastName}}</a> ({{candidate.party}} -
              {{candidate.pctVotesOnExprimated| number: "":"fr-FR"}}% - {{candidate.nbrVotes | number: "":"fr-FR"}} votes)
            </ng-container>
          </ng-container><br>
          Le <strong>taux d'abstention</strong> pour <strong>ce premier tour de la Présidentielle 2022 </strong>
            <span [innerHtml]="result.name | pronoun : type: 'strong'"></span>
            <ng-container *ngIf="type === 'departement'">
              <strong> ({{result.place.code | slice: 3}})</strong>
            </ng-container>
            <ng-container *ngIf="type === 'city'">
              <strong> ({{result.place.postalCode}})</strong>
            </ng-container>  s'élève à {{result.pctAbsentOnSubscriptions | number: "":"fr-FR" }}%, et {{result.pctWhiteVotesOnSubscriptions | number: "":"fr-FR"}}% des
          électeurs ont <strong>voté blanc</strong>.
        </p>
      </ng-container>
      <ng-container *ngIf="type === 'candidate'">
        Le <strong>1er tour de l'élection présidentielle en France</strong> voit le candidat
        <strong> {{result.name}}</strong> ({{result.candidates[0].party}}) en {{result.ranking}}ème position avec
        {{result.candidates[0].pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages ({{result.candidates[0].nbrVotes | number:
        "":"fr-FR"}} voix).<br>

        <ng-container *ngIf="resultDepartement">
          Au niveau départemental, le <strong>plus haut score </strong> <span [innerHtml]="result.name | pronoun : 'de': 'strong'"></span> est en
          {{resultDepartement.places[0].name}} ({{resultDepartement.places[0].code | slice: 3}}) avec
          {{resultDepartement.places[0].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}%, et son <strong>plus bas score</strong> se
          situe en {{resultDepartement.places[resultDepartement.places.length - 1].name}},
          avec {{resultDepartement.places[resultDepartement.places.length - 1].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}% des
          suffrages.<br>
        </ng-container>
        <ng-container *ngIf="resultRegion">
          Au niveau régional, le <strong>plus haut score </strong><span [innerHtml]="result.name | pronoun : 'de': 'strong'"></span> est en
          {{resultRegion.places[0].name}} avec
          {{resultRegion.places[0].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}%, et son <strong>plus bas score</strong> se situe en
          {{resultRegion.places[resultRegion.places.length - 1].name}}, avec
          {{resultRegion.places[resultRegion.places.length - 1].candidate.pctVotesOnExprimated | number: "":"fr-FR"}}% des suffrages.
        </ng-container>

      </ng-container>
    </ng-container>
    <div class="button" *ngIf="type !== 'candidate'">
      <button class="p-button p-button-more" (click)="displayMore()">
        {{labelDisplayMore}}
        <span class="material-icons">
          {{icon}}
        </span>
      </button>
    </div>
  </ng-container>

</div>
