.result {
  background-color: #FFFFFF;
  padding: 1em;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.button {
  text-align: center;
}

.label {
  font-size: 0.8em;
  color: #323232;
  margin-bottom: 5px;
}
