@import 'variables';

.p-autocomplete-emptymessage {
  margin-left: 1em !important;
}

.p-button:focus {
  box-shadow: none !important;
}

.p-autocomplete-panel .p-autocomplete-items {
  padding: 0 !important;
}

#autocomplete-input {
  .p-autocomplete {
    .p-inputtext {
      border-top-left-radius: $border-radius-input !important;
      border-bottom-left-radius: $border-radius-input !important;
    }
  }

}

#autocomplete-search {

  .p-autocomplete {
    margin-bottom: 0 !important;
    .p-inputtext {
      border-top-left-radius: $border-radius-input !important;
      border-bottom-left-radius: $border-radius-input !important;
    }
  }

}

.p-input-icon-left {
  .p-inputtext {
    border-radius: $border-radius-input !important;
  }
}

.p-button-more {
  border-radius: $border-radius-input !important;
  &:hover {
    background-color: $main-color !important;
    color: #ffffff !important;
  }
}

.p-autocomplete {
  .p-button {
    background: $main-color !important;
    border: $main-color !important;
    border-top-right-radius: $border-radius-input !important;
    border-bottom-right-radius: $border-radius-input !important;
  }
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
  padding: 0 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0 !important;
}

.p-dropdown-label {
  padding: 0 !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0 !important;
}

.p-dropdown .p-dropdown-trigger {
  color: #ffffff !important;
}

.p-button-primary {
  border-radius: $border-radius-input !important;
  background: $main-color !important;
  border: 1px solid $main-color !important;
  transition: 0.5s;
  &.p-button-outlined {
    background-color: #ffffff !important;
    color: $main-color !important;
  }
  &:hover {
    border: 1px solid #000044 !important;
    background: #000044 !important;
    color: #ffffff;
  }
}

.p-button-more {
  background: #ffffff !important;
  color: $main-color !important;
  border: 1px solid $main-color !important;
  &.p-button-outlined {
    background-color: #ffffff !important;
    color: $main-color !important;
  }
  &:hover {
    color: #ffffff;
  }
}

.p-button-help {
  background: #3c3c3c !important;
  border: 1px solid #3c3c3c !important;
  &.p-button-outlined {
    background-color: #ffffff !important;
    color: #3c3c3c !important;
  }
  &:hover {
    color: #ffffff;
  }
}

.p-button-compare {
  background: $second-color !important;
  border: 1px solid $second-color !important;
  &.p-button-outlined {
    background-color: #ffffff !important;
    color: $second-color !important;
  }
  &:hover {
    color: #ffffff;
  }
}

.p-button.p-button-outlined {
  .p-button-label {
    font-weight: bold;
  }
}

.p-component {
  font-family: 'Ubuntu', sans-serif !important;
}

.p-card {
  height: 100%;
}

.p-inputtext {
  width: 100%;
}

.p-autocomplete {
  width: 100%;
  margin-bottom: 1em;
}

.table-map {
  .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #000000 !important;
  }
}

.sponsorship-list {
  .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: #ffffff !important;
  }
}

.p-datatable-responsive-scroll > .p-datatable-wrapper > table {
  table-layout: fixed !important;
}

.p-datatable table {
  width: 100% !important;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  margin-left: 0 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center !important;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
}

.p-input-icon-left>i, .p-input-icon-right>i {
  position: absolute;
  top: 40%;
  margin-top: -0.5rem;
  font-style: normal;
}
