
/* Misc */
$main-color: #000091;
$second-color: #4c00ff;
$bg-color: #ebebeb;

/* Card */
$border-radius-card: 10px;

/* Input & buttons */

$border-radius-input: 35px;

/* Footer */
$footer-bg: #FFFFFF;
$footer-height: 150px;
$footer-text-color: #000000;
