
/* Misc */
$main-color: #ff00aa;
$second-color: #4c00ff;
$bg-color: #ebebeb;

/* Card */
$border-radius-card: 0;

/* Input & buttons */

$border-radius-input: 35px;

/* Footer */
$footer-bg: #434343;
$footer-height: 150px;
$footer-text-color: #FFFFFF;
