<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Participation</th>
      <th scope="col">%</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr class="dark">
      <td>
        Nombre d'inscrits
      </td>
      <td>
        100%
      </td>
      <td>
        {{result.nbrSubscriptions | number: "":"fr-FR"}} inscrits
      </td>
    </tr>
    <tr class="light">
      <td>
        Taux d'abstention
      </td>
      <td>
        {{result.pctAbsentOnSubscriptions}}%
      </td>
      <td>
        {{result.nbrAbsents | number: "":"fr-FR"}} votes
      </td>
    </tr>
    <tr class="dark">
      <td>
        Taux de participation
      </td>
      <td>
        {{result.pctVotesOnSubscriptions}}%
      </td>
      <td>
        {{result.nbrVotes | number: "":"fr-FR"}} votes
      </td>
    </tr>
    <tr class="light">
      <td>
        Votes exprimés
      </td>
      <td>
        {{result.nbrExprimatedVotesOnSubscriptions}}%
      </td>
      <td>
        {{result.nbrExprimatedVotes | number: "":"fr-FR"}} votes
      </td>
    </tr>
    <tr class="dark">
      <td>
        Votes blancs
      </td>
      <td>
        {{result.pctWhiteVotesOnSubscriptions}} %
      </td>
      <td>
        {{result.nbrWhiteVotes | number: "":"fr-FR"}} votes
      </td>
    </tr>
    <tr class="light">
      <td>
        Votes nuls
      </td>
      <td>
        {{result.nbrNullVotesOnSubscriptions}}%
      </td>
      <td>
        {{result.nbrNullVotes | number: "":"fr-FR"}} votes
      </td>
    </tr>
  </tbody>
</table>
