<app-breadcrumb></app-breadcrumb>
<div class="container">
  <ng-container *ngIf=" {
    result: (result$ | loading | async)
    } as obs">
    <ng-container *ngIf="obs.result as resultObs">
      <ng-container *ngIf="resultObs.value as result">
        <div class="cs-title">
          <h1 *ngIf="region$">
            Résultats de l'élection présidentielle 2022 en {{result[0].place.name}} : 1er et 2ème tour
          </h1>
          <h1 *ngIf="departement$">
            Résultats de l'élection présidentielle 2022 en {{result[0].place.name}} ({{result[0].place.code | slice: 3}}) :
            1er et 2ème tour
          </h1>
          <h1 *ngIf="city$">
            Résultats de l'élection présidentielle 2022 à {{result[0].name}}     <ng-container *ngIf="result[0].place.postalCode">
              ({{result[0].place.postalCode}})
            </ng-container> : 1er
            et 2ème tour
          </h1>
        </div>
        <div class="content">
          <p *ngIf="region$">
            Consultez dès maintenant les <strong>résultats de
              l'élection présidentielle 2022</strong> du premier et second tour en <strong>{{result[0].place.name}}</strong>
            et découvrez les résultats des votes et suffrages en direct pour cette région
            <strong>  {{region.code}}</strong>.
            Le 1er tour de l'élection présidentielle 2022 se tient
            le dimanche 10 avril 2022, et le 2ème tour le dimanche 24 avril 2022.
          </p>
          <p *ngIf="departement$">
            Consultez dès maintenant les <strong>résultats de
              l'élection présidentielle 2022</strong> du premier et second tour en <strong>{{result[0].place.name}}</strong>
            et découvrez les résultats des votes et suffrages en direct pour le <strong>{{result[0].place.code | slice:
              3}}</strong>.
            Le 1er tour de l'élection présidentielle 2022 se tient
            le dimanche 10 avril 2022, et le 2ème tour le dimanche 24 avril 2022.
          </p>
          <p *ngIf="city$">
            Consultez dès maintenant les <strong>résultats de
              l'élection présidentielle 2022</strong> du premier et second tour à <strong>{{result[0].name}}</strong>
            et découvrez les résultats des votes et suffrages en direct
            <ng-container *ngIf="result[0].place.postalCode">
              du <strong>{{result[0].place.postalCode}}</strong>
            </ng-container>
         .
            Le 1er tour de l'élection présidentielle 2022 se tient
            le dimanche 10 avril 2022, et le 2ème tour le dimanche 24 avril 2022.
          </p>
        </div>
        <div class="content">
          <app-presidential-search></app-presidential-search>
        </div>
        <div class="content" *ngIf="result | find : '2'">
          <app-presidential-round [result]="result | find : '2'"  [resultBefore]="result | find : '1'" [type]="type" [round]="'2'" >
          </app-presidential-round>
        </div>
        <div class="content" *ngIf="result | find : '1'">
          <app-presidential-round [result]="result | find : '1'" [type]="type" [round]="'1'">
          </app-presidential-round>
        </div>
        <div class="content result" *ngIf="city$">
          <ng-container *ngIf=" {
            cities: (listCity$ | loading | async)
            } as obs">
            <ng-container *ngIf="obs.cities as citiesObs">
              <ng-container *ngIf="citiesObs.value as cities">
                <app-presidential-list-link
                  [title]="result[0].place.postalCode !== '' ?
                  'Résultats de l\'élection présidentielle 2022 par ville et par commune à proximité de ' + result[0].place.name + ' (' + result[0].place.postalCode + ')' :
                  'Résultats de l\'élection présidentielle 2022 par ville et par commune à proximité de ' + result[0].place.name
                  "
                  [list]="cities">
                </app-presidential-list-link>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="content result" *ngIf="departement && listDepartements"> <!-- Affiche les départements dans la région selectionne -->
          <app-presidential-list-link
            [title]="'Résultats de l\'élection présidentielle 2022 par département en ' + departement.region.name"
            [list]="listDepartements" [place]="departement?.name" >
          </app-presidential-list-link>
        </div>
        <div class="content result" *ngIf="!departement && listDepartements">
          <app-presidential-list-link
          [title]="'Résultats de l\'élection présidentielle 2022 par département dans la région ' + result[0].place.name"
          [list]="listDepartements">
        </app-presidential-list-link>
        </div>
        <div class="content result" *ngIf="listRegions"> <!-- Affiche toutes les regions -->
          <app-presidential-list-link [title]="'Résultats de l\'élection présidentielle 2022 par région en France'"
            [list]="listRegions" [type]="'region'" [place]="region?.name">
          </app-presidential-list-link>
        </div>
        <div class="content result" *ngIf="!city$">
          <ng-container *ngIf=" {
            cities: (listCity$ | loading | async)
            } as obs">
            <ng-container *ngIf="obs.cities as citiesObs">
              <ng-container *ngIf="citiesObs.value as cities">
                <app-presidential-list-link
                  [title]="
                  departement ?
                  'Résultats de l\'élection présidentielle 2022 par ville et par commune en ' + result[0].place.name + ' (' + departement.code.substring(3) + ')' :
                  'Résultats de l\'élection présidentielle 2022 par ville et par commune en ' + result[0].place.name"
                  [list]="cities">
                </app-presidential-list-link>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
