@import '../../../../styles/variables.scss';

thead {
  background: $main-color;
  color: #ffffff;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table > :not(:first-child) {
  border-top: none;
}

th {
  background: $main-color;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
}

thead,
tbody,
tr,
td {
  display: block;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 60px;
}

tbody {
  &.scroll {
    height: 600px;
    overflow-y: auto;
  }

}

tbody td,
thead th {
  width: 40%;
  float: left;
}

.number {
  width: 10% !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  display: flex;
  flex-direction: row;
  color: #000000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.select {
  background: #65e697;
}

.ranking-table {
  background-color: #ffffff;
}

.material-icons {
  font-size: 30px;

  &.green {
    color: #5bad52;
  }

  &.grey {
    color: #dcdcdc;
  }
}

.table {
  td {
    border: none !important;
  }
}

@media screen and (max-width: 64em) {
  table {
    font-size: 0.9em;
  }
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 3px;
  background: #fff;
  border: 1px solid #000;
  color: #000000;
  text-align: center;
}
