<table class="table">
  <thead>
    <tr>
      <th scope="col">

      </th>
      <th scope="col">
        Candidat
      </th>
      <th scope="col">
        Nombre de parrainages
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let i = index;">
      <th scope="row">{{i + 1}}.</th>
      <td>{{item.name}}</td>
      <td>{{item.numberSponsorships}} parrainages
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="(item.numberSponsorships / 500) * 100 + '%'"  [aria-valuenow]="(item.numberSponsorships / 500) * 100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      </td>
    </tr>
  </tbody>
</table>
