<div class="ranking-table">
  <table class="table">
    <thead>
      <tr>
        <th class="number" scope="col">
        </th>
        <th scope="col" [class.dep]="isDep">
          Candidat
        </th>
        <th scope="col" [class.dep]="isDep">
          Nombre de parrainages
        </th>
        <th class="number" scope="col" *ngIf="!isDep">
        </th>
      </tr>
    </thead>
    <tbody [class.scroll]="isHomepage === false">
      <tr
      *ngFor="let item of data; let i = index;"
      [class.select]="item.name === candidate && item.numberSponsorships >= 500"
      [class.admisHome]="isHomepage && item.numberSponsorships >= 500 && item.name !== candidate"
      [class.admis]="!isHomepage && item.numberSponsorships >= 500 && currentCandidateAdmitted === true"
      [class.dismiss]="item.name === candidate && item.numberSponsorships < 500 && currentCandidateAdmitted === false"
      [class.admisDismiss]="item.name !== candidate && item.numberSponsorships >= 500 && currentCandidateAdmitted === false"
      >


          <td class="number" scope="row">
            <div class="circle">
              {{i + 1}}
            </div></td>
          <td [class.notDep]="!isDep">
            <a href="parrainages-presidentielle-2022/candidats/{{item.slug}}" title="Parrainages {{item.name}} présidentielle 2022">
            <strong>{{item.name}}</strong>
          </a>
          {{item.party}}
          </td>
          <td [ngPlural]="item.numberSponsorships" [class.dep]="isDep">
            <ng-template ngPluralCase="=0">
              Aucun parrainage
           </ng-template>
           <ng-template ngPluralCase="=1">
             {{item.numberSponsorships}} parrainage
           </ng-template>
           <ng-template ngPluralCase="other">
             {{ item.numberSponsorships }} parrainages
           </ng-template>
            <div class="progress" *ngIf="!isDep">
              <div class="progress-bar" role="progressbar" [style.width]="(item.numberSponsorships / 500) * 100 + '%'"
                [aria-valuenow]="(item.numberSponsorships / 500) * 100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress" *ngIf="isDep">
              <div class="progress-bar" role="progressbar" [style.width]="(item.numberSponsorships / data[0].numberSponsorships ) * 100 + '%'"
                [aria-valuenow]="(item.numberSponsorships / data[0].numberSponsorships) * 100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td class="number" *ngIf="!isDep">
            <span
            *ngIf="item.numberSponsorships >= 500 && !isDep"
            class="material-icons green">
            check_circle_outline
          </span>
          <span
          *ngIf="item.numberSponsorships < 500 && !isDep"
          class="material-icons grey">
          pending_actions
        </span>
          </td>


      </tr>
    </tbody>
  </table>

</div>
