@import '../../../../styles/variables.scss';

thead {
  background: $main-color;
  color: #FFFFFF;
}

.table>:not(:first-child) {
  border-top: none;
}

tr {
  &:hover {
    background-color: #FFD600;
  }
}
