@import '../../../../styles/variables.scss';

thead {
  background: $main-color;
  color: #FFFFFF;
}

.table {
  border-collapse: collapse; width: 100%;

}
.table>:not(:first-child) {
  border-top: none;
}

th {
  background: $main-color;
  display: flex;
  align-items: center;
}

tbody {
  height: 120px;
  overflow-y: auto;
}

table {
  width: 100%;
}

thead, tbody, tr, td { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 60px;
}

tbody {
  height: 600px;
  overflow-y: auto;
}


tbody td, thead th {
  width: 40%;
  float: left;
}

.number {
  width: 10% !important;
  text-align: center;
}

a {
  display: flex;
  flex-direction: row;
  color: #000000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.yellow {
  background: $main-color;
  color: #FFFFFF !important;
  a {
    color: #FFFFFF !important;
  }
}



.ranking-table {
  background-color: #FFFFFF;
}

.green {
  font-size: 30px;
  color: #42E695;
}

.table {
  td {
    border: none !important;
  }
}

@media screen and (max-width: 64em) {
  table {
    font-size: 0.9em;
  }
}


