<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>
    <div class="share" *ngIf="(router.url | include :'infos') === false">
      <ng-container *ngIf="isBrowser">
        <div class="content button">
          <share-buttons [theme]="'modern-dark'" [include]="['facebook','twitter','messenger','whatsapp','email']"
            [show]="8" [autoSetMeta]="false"></share-buttons>
        </div>
      </ng-container>
      <div class="content">
        <app-newsletter></app-newsletter>
      </div>
    </div>
  </main>
</div>
<footer class="mt-auto">
  <app-footer></app-footer>
</footer>
