<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>
    <div class="share" *ngIf="(router.url | include :'infos') === false">
      <ng-container *ngIf="(router.url | include :'resultats-presidentielle-2022') === false">
        <div class="content button">
          <app-share-buttons></app-share-buttons>
        </div>
      </ng-container>
    </div>
  </main>
</div>
<footer class="mt-auto">
  <app-footer></app-footer>
</footer>
