@import '../../../styles/variables.scss';

.navbar-brand {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img, .material-icons {
    margin-right: 0.2em;
  }
}

.nav-link {
  opacity: 0.8;
  &.active {
    opacity: 1;
  }
}

.icon {
  width: 32px;
}

.navbar {
  background-color: $main-color !important;
}
